body{
    font-family: 'Passion One', cursive;
}
p{
    color:red;
    text-transform:uppercase;
}
.put-color{
    color:green;
}
#change-size{
    font-size:40px;
    font-style:italic;
    
}
.block p{
    color:red;
    font-style:oblique;
}
div>p{
    font-weight:bold;
    font-style:normal;
    font-size:20px;
    color:#333376;
}
p~ul{
    color:gray;
}
a[href^="https"]{
    color:#126834;
    font-weight:bolder;
    text-decoration:overline;
    text-shadow:5px 2px 4px grey;
    font-size:40px;
    text-transform:capitalize;
}
a[href$="pdf"]{
    text-decoration:underline;
    text-indent: 100px;
    text-shadow: 10px 5px 6px purple;
    word-spacing: 30px;
}
.menu-bar li{
    display:inline;
    background-color:grey;
    border:1px solid;
    border-color:black;
    margin:2px;
    padding:3px;
    opacity:0.5;
    color:black;
    
}
p img{
    float:right;
}
p::first-letter{
    color:#681232;
    font-size: 40px;
}
.left1{
    background-color:grey;
    float:left;
    width:200px;
    height: 50px;
}
.left2{
    background-color:#125533;
    float:left;
    width:200px;
    height: 50px;
    overflow: scroll;
}
.left3{
    float:left;
    width:200px;
    height: 50px;
    overflow:hidden;
}